
<style>
    .form-container {
        padding: 50px;
        max-width: 600px;
        border-radius: 5px;
    }
</style>
<div class="container form-container">
    <h1 class="title">Create a Worker</h1>

    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">FullName</label>
            <input class="form-control">
            <span></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-info">Back To Home</a>
    </form>
</div>